@import "../../../style/mixins/mixins";

.block {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: -54px;
  margin-left: 140px;
  z-index: 2;

  @include b('desktop') {
    width: auto;
    margin-left: 133px;
  }

  @media (max-width: 600px) {
    right: 10px;
  }

  .socBlock {
    width: 132px;
    height: 42px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #2C2C33;
    border-radius: 12px;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .socIcon {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    .socName {
      cursor: pointer;
      font-family: TTNorms;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
    }

    .downIcon {
      position: absolute;
      margin-left: 94px;
    }
  }
}

.inputBlock {
  width: 100%;

  input {
    height: 68px;
    background: none;
    border: 3px solid #414147;
    box-sizing: border-box;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 100%;

    @include b('mobile') {
      text-align: start;
      padding-left: 20px;
    }
  }

  ::placeholder {
    font-family: TTNorms;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-left: 40px;
    white-space: pre-wrap;
    text-align: start;
    font-feature-settings: 'liga' off;
    color: white;

    @media (max-width: 524px) {
      top: 10px;
      position: absolute;
      width: 55%;
      padding-left: 0px;
    }

    @include b('mobile') {
      margin-right: 90px;
    }
  }
}
