@import "../../../style/index.scss";

.block {
  text-align: center;

  .title {
    width: 1000px;
    margin: auto;
    margin-top: 200px;
    font-family: TTNorms;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 1000px) {
      margin-top: 100px;
      width: 95%;
      font-size: 40px;
      line-height: 50px;
    }

    @include b('mobile') {
      margin-top: 46px;
      font-size: 30px;
      line-height: 40px;
    }
  }

  .descriptions {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    font-family: TTCommons;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 600px) {
      width: auto;
    }

    @include b('mobile') {
      font-size: 22px;
      line-height: 25px;
    }
  }

  .button {
    margin: auto;
    margin-top: 38px;
    font-family: TT Norms;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;

    @include b('mobile') {
      width: 300px;
      text-align: left  ;
    }
  }
}