@import "../../../../style/index.scss";

.block {
  text-align: center;
  margin: auto;
  margin-top: 190px;
  height: 430px;
  width: 1920px;

  @media (max-width: 1920px) {
    width: 100%;
  }

  @media (max-width: 900px) {
    margin-top: 100px;
  }

  @media (max-width: 700px) {
    margin-top: 100px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-left: -15px;
    width: calc(100% + 30px);
  }

  @include b('mobile') {
    height: 1000px;
  }

  .ellipse {
    position: absolute;
    width: 160px;
    height: 160px;
    background: white;
    filter: blur(180px);
    left: calc(50% - 800px);
    @media (max-width: 1920px) {
      left: 0;
    }

    @media (max-width: 700px) { display: none; }
  }

  .background {
    position: absolute;
    background-image: url('/assets/img/vesting/longTermDesctop.png');
    width: 1140px;
    height: 589px;
    left: calc(50% - 230px);
    margin-top: -70px;
    z-index: -1;

    @media (max-width: 1920px) {
      left: auto;
      right: 0;
    }

    @media (max-width: 1300px) {
      background-size: contain;
      background-repeat: no-repeat;
      width: 850px;
      height: 500px;
      right: 0;
    }

    @media (max-width: 900px) { background-position: 150px;}

    @media (max-width: 700px) {
      position: relative;
      background-image: url('/assets/img/vesting/longTermMobile.png');
      background-size: cover;
      background-position: 50% 0;
      width: 100%;
      height: 500px;
      margin: auto;
      left: 0;
    }

    @include b('mobile') {
      margin-top: 0;
      background-size: auto;
      width: 100%;
    }
  }

  .blockInfo {
    margin-left: 220px;
    margin-top: 70px;

    @media (max-width: 1300px) {
      margin-left: 100px;
    }

    @media (max-width: 900px) {
      margin-left: 40px;
    }

    @media (max-width: 700px) {
      margin: 0;
    }

    @include b('mobile') {
      padding: 0 15px;
    }

    .title {
      width: 600px;
      text-align: left;
      font-family: TTNorms;
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;

      @media (max-width: 1300px) {
        width: 500px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (max-width: 900px) {
        width: 400px;
      }

      @media (max-width: 700px) {
        width: 95%;
        text-align: center;
      }

      @include b('mobile') {
        width: 100%;
      }
    }
  
    .descriptions {
      width: 436px;
      text-align: left;
      margin-top: 43px;
      font-family: TTCommons;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;

      @media (max-width: 900px) {
        margin-top: 20px;
        width: 380px;
      }

      @media (max-width: 700px) {
        width: 95%;
        max-width: 500px;
        margin: auto;
        margin-top: 20px;
      }

      @include b('mobile') {
        width: 100%;
      }
    }
  }
}