@import "../../../style/index.scss";

.block {
  text-align: center;

  .ellipse {
    position: absolute;
    width: 160px;
    height: 160px;
    background: white;
    filter: blur(180px);
    left: calc(50% + 200px);

    @media (max-width: 700px) {
      margin-top: 30px;
      left: calc(100% - 160px);
    }

    @include b('mobile') {
      width: 130px;
      height: 130px;
      filter: blur(150px);
    }
  }

  .background {
    background-image: url('/assets/img/vesting/bgBusinesses.png');
    background-size: cover;
    width: 1120px;
    height: 588px;
    position: absolute;
    margin-top: -70px;
    left: calc(50% - 580px);
    opacity: 0.5; 

    @media (max-width: 1300px) {
      margin-top: -30px;
    }

    @media (max-width: 1120px) {
      background-repeat: no-repeat;
      left: 0;
      width: 100%;
      height: 600px;
      opacity: 0.2; 
    }
  }

  .title {
    font-family: TTNorms;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 139px;
    max-width: 800px;

    @media (max-width: 1300px) {
      margin-top: 60px;
    }

    @media (max-width: 650px) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  .descriptions {
    font-family: TTCommons;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    margin-top: 20px;
    max-width: 700px;

    @media (max-width: 650px) {
      font-size: 22px;
      line-height: 25px;
    }
  }

  .businessesImg {
    background-image: url('/assets/img/vesting/businessesImgDesctop.png');
    background-size: cover;
    width: 1100px;
    height: 640px;

    margin: auto;
    margin-top: 40px;
    left: calc(50% - 560px);

    @media (max-width: 1100px) {
      background-size: contain;
      background-repeat: no-repeat;
      width: auto;
      height: 600px;
      background-position: 50%;
    }

    @media (max-width: 1000px) { height: 550px; }
    @media (max-width: 800px) { height: 450px; }
    @media (max-width: 600px) { 
      background-image: url('/assets/img/vesting/businessesImgMobile.png');
      height: 600px;
    }
    @media (max-width: 500px) { height: 450px; }
    @media (max-width: 400px) { height: 350px; }
  }
}