.sectionSites {
    margin-top: 100px;
}

.sectionSites__title {
    margin-bottom: 40px;
}

.slide {
    width: 420px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: content-box;
}

.sliderWrapper {
    margin-top: 60px;
}