<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rock’n’Block - Blockchain Development</title>
  <meta name="google-site-verification" content="7_6Fy-97nJ33Ve9stEFXjT4RUqNwIQj-vh9tYL22ZU0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1d1b21" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description"
        content="Blockchain implementation. We are engaged in custom development and implementation of software based on blockchain technologies for business and startups."/>
  <meta name="keywords" content="blockchain, develop, rocknblock, crypto, cryptocurrency"/>
  <meta content="index, nofollow" name="robots"/>
  <meta property="og:url" content="https://rocknblock.io/"/>
  <meta property="og:image" content="https://rocknblock.io/img/share.png"/>
  <meta property="og:title" content="Rock`n`Block Website"/>
  <meta property="og:description"
        content="Blockchain implementation. We are engaged in custom development and implementation of software based on blockchain technologies for business and startups."/>
  <meta name="twitter:creator" content="@rocknblock"/>
  <meta name="twitter:site" content="https://rocknblock.io/"/>
  <meta name="twitter:url" content="https://rocknblock.io/"/>
  <meta name="twitter:image" content="https://rocknblock.io/img/share.png"/>
  <meta name="twitter:title" content="Rock`n`Block Website"/>
  <meta name="twitter:description"
        content="Blockchain implementation. We are engaged in custom development and implementation of software based on blockchain technologies for business and startups."/>
  <link rel="apple-touch-icon" href="./assets/favicons/apple-touch-icon-180x180.png">
  <link rel="manifest" href="./manifest.json">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P548TMG');</script>
  <!-- End Google Tag Manager -->
  <!-- Start of LiveChat (www.livechatinc.com) code -->
  <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
  <script>
    if (typeof window !== "undefined") {
      window.__lc = window.__lc || {};
      window.__lc.license = 9683030;
      ;(function (n, t, c) {
        const e = {
          _q: [], _h: null, _v: "2.0", on: function () {
            i(["on", c.call(arguments)])
          }, once: function () {
            i(["once", c.call(arguments)])
          }, off: function () {
            i(["off", c.call(arguments)])
          }, get: function () {
            if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load.");
            return i(["get", c.call(arguments)])
          }, call: function () {
            i(["call", c.call(arguments)])
          }, init: function () {
            const n = t.createElement("script");
            n.async = !0, n.type = "text/javascript", n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n)
          }
        };

        function i(n) {
          return e._h ? e._h.apply(null, n) : e._q.push(n)
        }

        !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e
      }(window, document, [].slice))
    }
  </script>
  <noscript>
    <a href="https://www.livechatinc.com/chat-with/9683030/" rel="nofollow">Chat with us</a>, powered by
    <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
  </noscript>
  <!-- End of LiveChat code -->
  <% preact.headEnd %>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P548TMG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(82964167, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/82964167" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<% preact.bodyEnd %>
</body>
</html>
